# Kopier denne filen til ".env.local" og fyll inn dine egne verdier.
# Du finner disse i Supabase-prosjektet ditt under: Project Settings -> API

NEXT_PUBLIC_SUPABASE_URL=https://bullpufrxtggbixlfcjs.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ1bGxwdWZyeHRnZ2JpeGxmY2pzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY3MTM4OTIsImV4cCI6MjEwMjI4OTg5Mn0.IYMf5AwrnxUZ_T8eRjJzcLQwOk26DczT1qxtCmLvqHw
